<div class="loader-box" *ngIf="isLoading">
  <div class="spinner"></div>
  <p>Chargement du Top 100...</p>
</div>

<app-anime-list *ngIf="!isLoading" [animes]="animes"></app-anime-list>

<div class="pagination-container">
  <button class="btn-nav" (click)="previousPage()" [disabled]="currentPage === 0">
    <span class="icon">&larr;</span> Précédent
  </button>

  <div class="page-counter">
    <input type="number" class="current-input" [value]="currentPage + 1" (change)="goToPage($event)" min="1"
      [max]="totalPages">
    <span class="total-pages">/ {{ totalPages }}</span>
  </div>

  <button class="btn-nav" (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">
    Suivant <span class="icon">&rarr;</span>
  </button>
</div>