html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  /* On force le fond sombre ici pour éviter le flash blanc au chargement */
  background-color: #0f0f13;
  color: white;
  overflow-x: hidden; /* Empêche le scroll horizontal parasite */
}
